body{
    background-color:#053c72 ;
    color: white;
}

.logo{
    width: 160px;
    height: 140px;
    object-fit:contain;
}
*{
    color: white
}
#btnActualizar{
    display: none;
}

footer{
    background-color: black;
    background-size: cover;
    position:relative;
    padding-top:5px importat !important;
    padding-bottom:5px!important;
} 
